.header {
  width: 100%;
  height: 100vh;
}

.logo--container {
  width: 200px;
  padding: 20px;
  margin-left: 120px;
  display: flex;
  align-items: center;
  justify-items: center;
}

.logo--text {
  display: block;
  text-align: center;
  font-size: 1.2rem;
}

.hero {
  display: flex;
  background: linear-gradient(194.01deg, #D9E8EF 9.6%, #EAF2F5 89.64%);
  width: 100%;
}
.hero .hero-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hero .hero-right {
  flex: 1;
  height: 100%;
  width: 100%;
}
.hero .content {
  margin-left: 80px;
}
.hero .content .content-textbox {
  margin-bottom: 7%;
  font-size: 2.55rem;
}
.hero .content .content-textbox .content--text {
  font-size: 1.3rem;
}

.hero--img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.cta {
  width: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}
.cta .cta--img {
  height: 48px;
  width: 48px;
}
.cta .cta--dash {
  border-bottom: 3px solid #18191F;
  width: 80px;
}
.cta .cta--text {
  letter-spacing: 0.06875rem;
}

body {
  font-family: "Manrope", sans-serif;
}

.bolder {
  font-weight: 800;
}

.mb-5 {
  margin-bottom: 5px;
}

.mt-5 {
  margin-top: 5px;
}

.mbt-5 {
  margin: 5px 0 5px 0;
}

.mbt-25 {
  margin: 25px 0 25px 0;
}

.mt-40 {
  margin-top: 40px;
}

.mb-64 {
  margin-bottom: 64px;
}

.mbp {
  margin: 0 0 18% 0;
}

.ml-5 {
  margin-left: 5px;
}

.spad-150 {
  padding: 150px 0;
}

.sw {
  width: 77.09%;
  margin: 0 auto;
}

.sh {
  font-size: 3rem;
  margin-bottom: 24px;
}

.btn {
  height: 40px;
  width: 240px;
  border-radius: 8px;
  background: #FFFFFF;
  color: #8C30F5;
  border: 3px solid #FFFFFF;
  outline: none;
}

.customer .customer-container {
  display: flex;
}
.customer .customer--count-box {
  width: 350px;
  height: 128;
  display: flex;
  margin-top: -20px;
  flex-direction: column;
  justify-content: space-evenly;
}
.customer .customer--count-box .count {
  font-size: 3rem;
}
.customer .customer--count-box .customer--text {
  font-weight: 400;
  font-size: 1.1rem;
  margin-top: -30px;
}
.customer .customer-logo-container {
  flex: 1;
}
.customer .customer-logo-img {
  height: 100%;
  margin: 5px 30px;
}

.img-wrap {
  display: inline-block;
  width: 192px;
  height: 108px;
}

.features-section {
  position: relative;
}

.circle-background {
  position: absolute;
  top: 0;
  right: 0;
  width: 33.75rem;
  height: 33.75rem;
  border-radius: 50%;
  background-color: #F1E4FF;
  z-index: -1;
}

.features--container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 96px;
}

.features {
  display: flex;
  padding: 24px;
  flex-direction: column;
  justify-content: space-between;
  width: 255px;
  height: 200px;
  margin-top: 64px;
  box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
  border-radius: 8px;
  background-color: #fff;
}
.features .features--title {
  font-size: 1.5rem;
}
.features .features--img {
  height: 29.33px;
}
.features .features--img img {
  height: 100%;
}

.works {
  margin-bottom: 150px;
}

.works {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 350px);
  grid-template-rows: repeat(4);
  gap: 30px;
}
.works .works--img-container {
  position: relative;
}
.works .works--img-container .works--img {
  width: 100%;
  height: 100%;
}
.works .works--img-container .project {
  position: absolute;
  top: 30px;
  left: 20px;
}
.works .works--img-container .project .desc {
  font-size: 0.9rem;
}

.img-box-1 {
  grid-column: 1/2;
  grid-row: 1/3;
}

.img-box-2 {
  grid-column: 2/4;
  grid-row: 1/2;
}

.img-box-3 {
  grid-column: 2/3;
  grid-row: 2/3;
}

.img-box-4 {
  grid-column: 3/4;
  grid-row: 2/4;
}

.img-box-5 {
  grid-column: 1/3;
  grid-row: 3/5;
}

.img-box-6 {
  grid-column: 3/4;
  grid-row: 4/5;
}

.kit {
  width: 100%;
  background-color: #8C30F5;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 165px;
  justify-content: space-around;
}
.kit .kit--container {
  width: 50.69%;
  text-align: center;
}
.kit .kit--heading {
  font-size: 2.5rem;
}
.kit .kit--desc {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.kit .kit--desc .kit--feature {
  display: flex;
}
.kit .kit--desc .kit--feature p {
  margin-left: 10px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}