.header {
  width: 100%;
  height: 100vh;
}

.logo--container {
  width: 200px;
  padding: 20px;
  margin-left: 120px;
  display: flex;
  align-items: center;
  justify-items: center;
}

.logo--text {
  display: block;
  text-align: center;
  font-size: 1.2rem;
}

.hero {
  display: flex;
  background: linear-gradient(194.01deg, #D9E8EF 9.6%, #EAF2F5 89.64%);
  width: 100%;
}
.hero .hero-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hero .hero-right {
  flex: 1;
  height: 100%;
  width: 100%;
}
.hero .content {
  margin-left: 80px;
}
.hero .content .content-textbox {
  margin-bottom: 7%;
  font-size: 2.55rem;
}
.hero .content .content-textbox .content--text {
  font-size: 1.3rem;
}

.hero--img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.cta {
  width: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}
.cta .cta--img {
  height: 48px;
  width: 48px;
}
.cta .cta--dash {
  border-bottom: 3px solid #18191F;
  width: 80px;
}
.cta .cta--text {
  letter-spacing: 0.06875rem;
}

body {
  font-family: "Manrope", sans-serif;
}

.bolder {
  font-weight: 800;
}

.mb-5 {
  margin-bottom: 5px;
}

.mt-5 {
  margin-top: 5px;
}

.mbt-5 {
  margin: 5px 0 5px 0;
}

.mbt-15 {
  margin: 25px 0 25px 0;
}

.mbp {
  margin: 0 0 18% 0;
}

.ml-5 {
  margin-left: 5px;
}

.spad-150 {
  padding: 150px 0;
}

.sw {
  width: 77.09%;
  margin: 0 auto;
}

.customer .customer-container {
  display: flex;
}
.customer .customer--count-box {
  width: 350px;
  height: 128;
  display: flex;
  margin-top: -20px;
  flex-direction: column;
  justify-content: space-evenly;
}
.customer .customer--count-box .count {
  font-size: 3rem;
}
.customer .customer--count-box .customer--text {
  font-weight: 400;
  font-size: 1.1rem;
  margin-top: -30px;
}
.customer .customer-logo-container {
  flex: 1;
}
.customer .customer-logo-img {
  height: 100%;
  margin: 5px 30px;
}

.img-wrap {
  display: inline-block;
  width: 192px;
  height: 108px;
}

.features-section {
  position: relative;
}

.features-heading {
  font-size: 3rem;
  margin-bottom: 24px;
}

.circle-background {
  position: absolute;
  top: 0;
  right: 0;
  width: 33.75rem;
  height: 33.75rem;
  border-radius: 50%;
  background-color: #F1E4FF;
  z-index: -1;
}

.features--container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 96px;
}

.features {
  display: flex;
  padding: 24px;
  flex-direction: column;
  justify-content: space-between;
  width: 255px;
  height: 200px;
  margin-top: 64px;
  box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
  border-radius: 8px;
  background-color: #fff;
}
.features .features--title {
  font-size: 1.5rem;
}
.features .features--img {
  height: 29.33px;
}
.features .features--img img {
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}