.footer {
    background-color: #0B0D17;
    color: #F4F5F7;
    height: 396px;

    .copy-social {
        display: flex;
        justify-content: space-between;
        padding: 0 150px 0 50px;
        .copy {
            display: flex;
            & p {
                margin-left: 5px;
            }
        }

        .social {
            display: flex;
            .social-icon {
                margin-left: 38.93px;
                width: 32px;
                height: 32px;
                border-radius: 50%;
                padding: 6px;            
                
            }
        }
        
    }
}

.footer--link-container {
    height: 312px;;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .link-box {
        width: 17.71%;
        height: 155px;
    }
    .link--heading {
        font-size: 1.125rem;
        margin-bottom: 12px;
    }
    
    .link-list {
        font-size: .875rem;
        margin-bottom: 1.5rem;
    }

    .link-list:not(:last-child) {
        margin-bottom: 12px;
    }

    
    .store {
        width: 162px;
        height: 48px;
    }
}
