
body {
    font-family: 'Manrope', sans-serif;
}

.bolder {
    font-weight: 800;
}

.mb-5 {
    margin-bottom: 5px;
}

.mt-5 {
    margin-top: 5px;
}

.mbt-5 {
    margin: 5px 0 5px 0;
}

.mbt-15 {
    margin: 25px 0 25px 0;
}

.mbp {
    margin: 0 0 18% 0;
}

.ml-5 {
    margin-left: 5px;
}

// Section padding
.spad-150 {
    padding: 150px 0;
}

// sections width
.sw {
    width: 77.09%;
    margin: 0 auto;
}

// sections heading
.sh{
    font-size: 3rem;
    margin-bottom: 24px;
}